<!DOCTYPE html>
<html lang="en">
  <title>Data Collector App</title>
  <head>
    <link href="../static/main.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="container">
      <h1>Collecting Height</h1>
      <h3>Fill the entries to get population statitics on height</h3>
      {%if message%}
        <div class="message">{{message | safe}}</div>
      {%endif%}
	  <form action="{{url_for('success')}}" method="POST" enctype="multipart/form-data">
      <input placeholder="Enter your file" type="file" name="file" required/><br>
      <button type="submit">Submit</button>
    </form>
	{% include btn ignore missing%}
    </div>
  </body>
</html>
